@import 'normalize';
$bg-color: bisque;
$card-size-big: 300px;
$card-size-small: 100px;
$font-stack: 'Lato', sans-serif;
$font-color: rgb(56, 56, 56);

@mixin card ($card-size) {
  width: $card-size;
  height: $card-size;
}

@mixin card-big () {
  @include card($card-size-big);
  border-radius: 30px;
}

@mixin card-small () {
  @include card($card-size-small);
  border-radius: 30px;
}

body {
  background-color: $bg-color;
  font-family: $font-stack;
}

header {
  margin: 15px 0;
  text-align: center;
  font-size: 1rem;

  .welcome {
    font-size: 1.4rem;
  }
}

img {
  @include card-big();
  object-fit: cover;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
  transition: all 0.5s ease;

  &:hover {
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
  }

  &:active {
    transform: translate(7px, 7px);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.8);
  }
}

.global-container {
  display: flex;
  /* height: 85vh; */
  margin-top: 100px;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

    .photo-container {
      @include card-big();
    }

    .counter-container {
      @include card($card-size-big);
      color: $font-color;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 2.7rem;

      * {
        text-align: center;
        margin: 0;
      }

      .name {
        font-weight: 900;
      }

      .level {
        font-weight: 400;
        font-size: 1.7rem;
        color: gray;
      }
    }

    .admin-container {
      width: $card-size-big;
      margin-top: 20px;

      .admin-button {
        width: $card-size-big;
        background: rgb(245, 206, 159);
        color: $font-color;
        padding: 5px;
        font-size: 1.1rem;
        border: none;
        border-radius: 25px;
        outline: none;
        box-shadow: 0px 4px 2px 1px rgba(95, 95, 95, 0.4);
        transition: all 0.5s ease;

        &:hover {
          box-shadow: 0px 4px 4px 1px rgba(95, 95, 95, 0.2),
                      0px 6px 4px 4px rgba(56, 56, 56, 0.1);
          transform: translate(0, -2px);
        }

        &:active {
          box-shadow: 0px 2px 2px 1px rgba(56, 56, 56, 0.2);
          transform: translate(0, 2px);
        }
      }

      .admin-panel {
        display: none;
      }
    }
  }
}

.list-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .container {
    margin: 0 10px;
  }

  .photo-container,
  img {
    @include card-small();
    filter: grayscale(0.8);
  }

  .counter-container,
  .admin-container {
    display: none;
  }

  .selected {
    border: 3px solid white;
    box-sizing: border-box;
    transform: translate(7px, 7px);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.8);
    filter: saturate(5) contrast(1.2);
  }
}

.loading-container {
  @include card-small();
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  .loading {
    margin: 0;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}